body{ font-family:  "Lucida Console", "Courier New", monospace; }
h1{ color: black;
    text-align: center;
    margin-top: 20px;
}
.all{ display: flex;
}    
.chicken{ border: black 2px solid;
          background-color: grey;
          width: 400px; 
          margin: 15px;  
}
.beef{ border: black 2px solid;
       background-color: grey;
       width: 400px; 
       margin: 15px; 
}
.sushi{ border: black 2px solid;
        background-color: grey;
        width: 400px;
        margin: 15px;
}
