body{ font-family:  "Lucida Console", "Courier New", monospace; }
h1{ color: black;
    text-align: center;
    margin-top: 20px;
}
.chicken{ border: black 2px solid;
          background-color: grey;
          width: 400px;  
}
.beef{ border: black 2px solid;
       background-color: grey;
       width: 400px; 
}
.sushi{ border: black 2px solid;
        background-color: grey;
        width: 400px;
}
