body{ font-family:  "Lucida Console", "Courier New", monospace; }
h1{ color: black;
    text-align: center;
    margin-top: 20px;
}
h2{ text-align: left;
    background-color: crimsone;
    border:black 1px solid;
}    
.all{ display: flex;
    
}    
.chicken{ border: black 2px solid;
          background-color: grey;
          width: 450px; 
          margin: 15px;
          border-radius: 10px;  
          padding: 10px;  
}
.beef{ border: black 2px solid;
       background-color: grey;
       width: 450px; 
       margin: 15px; 
       border-radius: 10px; 
       padding: 10px; 
}
.sushi{ border: black 2px solid;
        background-color: grey;
        width: 450px;
        margin: 15px;
        border-radius: 10px;
        padding: 10px; 
}
